html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;

    #info {
        width: 300px;
        height: 40px;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 30px;

        .lives {
            display: inline-block;

            .icon {
                color: #e74c3c;
            }
        }

        .gold {
            display: inline-block;
            margin-left: 50px;

            .icon {
                color: #f6b93b;
            }
        }
    }
    
    #map {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: repeat(8, 50px);
        column-gap: 10px;
        row-gap: 10px;

        .tile, .tower {
            display: inline-block;
            border: 2px solid #000;
            height: 50px;
            width: 50px;
            box-sizing: border-box;
        }

        .monster {
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid gray;
            background-color: #fff;

            .hp {
                position: absolute;
                top: -12px;
                height: 3px;
                width: 30px;
                left: 50%;
                transform: translateX(-50%);
                background-color: grey;
                border: 2px solid #000;

                .life {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 3px;
                    width: 30px;
                    background-color: lawngreen;
                }
            }
        }
    }

    #towers-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        border-top: 2px solid #000;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        span {
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translateY(-50%);
            font-size: 25px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .tower {
            width: 40px;
            height: 40px;
            border: 2px solid #000;
            margin-left: 20px;
            cursor: pointer;
            position: relative;

            &.red {
                background-color: #e74c3c;
            }

            &.yellow {
                background-color: #f6b93b;
            }

            &.green {
                background-color: #27ae60;
            }

            &.blue {
                background-color: #2980b9;
            }

            &.black {
                background-color: #34495e;
            }

            .tooltip {
                flex-direction: row;
                align-items: center;
                justify-content: center;
                display: none;
                position: absolute;
                top: -55px;
                left: 50%;
                transform: translateX(-50%);
                height: 40px;
                width: 70px;
                background-color: #fff;
                border: 1px solid lightgrey;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                border-radius: 10px;

                span {
                    font-size: 12px;
                    transform: none;
                    position: unset;
                }
            }

            &:hover {
                .tooltip {
                    display: flex;
                }
            }
        }
    }
}